*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: darkslategrey;
}

.align {
  display: grid;
  justify-content: center;
  background-color: rgba(99, 128, 123, 0.7);
  min-height: 70vh;
  width: 70vh;
  padding: 50px;
  margin-left: 50vh;
}

.game-window {
  justify-content: center;
}
.welcome {
  color: white;
  font-size: 3rem;
}

.question {
  color: white;
  font-weight: bold;
  font-size: 130%;
  padding: 30px;
  margin: 0 auto;
}
