* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #8888d1, #025195);
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

input[type="button"] {
  cursor: pointer;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.7);
}

input[type="button"]:hover {
  background: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px;
  word-wrap: break-word;
  word-break: break-all;
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
}
.output .outputScreen {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}
.output .inputScreen {
  font-size: 2.5rem;
  color: white;
}
