body{
  background-color: rgb(96, 123, 211);
}

#operator {
  width: 30px;
  text-align: center;
}
#firstNumber {
  width: 60px;
}
#secondNumber {
  width: 60px;
}
p {
  font-size: 130%;
  color: whitesmoke;

}
.numpad{
 margin-top: 5vh;
 }